@model SkateShop.Models.Item

@{
    ViewBag.Title = "Удалить товар";
}

<h2>Подтверждение удаления</h2>

<p>Вы уверены что хотите удалить товар 
   <strong>@Model.Title</strong>?
</p>

@using (Html.BeginForm()) {
    <p>
        <input class="button" type="submit" value="Удалить" />
    </p>
    <p>
        @Html.ActionLink("Назад к списку", "Index")
    </p>

}