@model List<SkateShop.Models.Item>
@{
    ViewBag.Title = "Skate Shop";
}
<div id="promotion">
</div>

<h3><em>Популярные</em> товары</h3>

<ul id="album-list">
    @foreach (var item in Model)
    {
        <li><a href="@Url.Action("Details", "Store",
                new { id = item.ItemId })">

            <img alt="@item.Title" src="@item.ItemPhotoUrl" />
            <span>@item.Title</span> </a>
        </li>
    }
</ul>