@model List<SkateShop.Models.Album>
@{
    ViewBag.Title = "Skate Shop";
}
<div id="promotion">
</div>

<h3><em>Популярные</em> товары</h3>

<ul id="album-list">
    @foreach (var album in Model)
    {
        <li><a href="@Url.Action("Details", "Store",
                new { id = album.AlbumId })">

            <img alt="@album.Title" src="@album.AlbumArtUrl" />
            <span>@album.Title</span> </a>
        </li>
    }
</ul>